.card {
  width: 90%;
  max-width: 350px;
  border-radius: 22px;
  border: 3px solid #AF6B6B;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #FEFEFE;
  padding: 15px 22px 30px 22px;
  margin: 0 auto 20px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  /* height: 600px; */ /* Removed fixed height */
}

.imageContainer {
  width: 100%;
  width: 315px;
  height: 350px; /* Fixed height */
  border-radius: 22px;
  border: 1px groove #AF6B6B;
  overflow: hidden; /* Hide any overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;

  flex-shrink: 0; /* Prevent shrinking */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without distortion */
  border-radius: 22px;
  position: relative;
}

.info {
  text-align: left;
  gap: 3px;
  width: 100%;
  margin-top: 10px; /* Add some spacing below the image */
}

.traits {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px; /* Add some spacing below the info */
}

.trait {
  background-color: #A0D1C8;
  color: #345049;
  padding: 7px 12px;
  border-radius: 46px;
  font-size: 12px;
}

.shelterInfo {
  /* Add styles for shelter information if needed */
  margin-top: 10px;
  font-style: italic;
  color: #555;
  width: 100%;
  text-align: left;
}
@media (max-width: 768px) {
  .card {
    width: 95%; 
    max-width: none; 
    padding: 10px 15px 20px 15px; 
  }

  .imageContainer {
    max-width: 100%; 
    aspect-ratio: 1 / 1; 
  }

  .info h2 {
    font-size: 1.5rem; 
  }

  .info p {
    font-size: 0.9rem; 
  }

  .trait {
    padding: 5px 10px; 
    font-size: 11px; 
  }
}